<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <%- title %>
    <%- style %>
  </head>
  <body>
    <!-- 模板添加vue节点 -->
    <div id="root">
      <%- appString %>
    </div>
    <%- initalState %>
    <%- scripts %>
  </body>
</html>
